<h1>Hola!</h1>

<p>Usted ha recibido esta notificación pues ha solicitado reiniciar su contraseña en el sistema RaXpA, si no ha sido así
puede descartar este correo</p>

<p>Para reiniciar su contraseña, favor visite el siguiente enlace:</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Este enlace expirará en {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Saludos:</p>

<p>RaXpA</p>

<img src="{{ email.image('@img/RaXpA_logo.png') }}" alt="RaXpA" width="200" height="auto">
