<!--    Footer-->
<footer class="container-fluid bg-dark">
    <div class="row text-white py-4">
        <div class="col-md-4">
            <img src="{{ asset('images/RaXpA_logo.png') }}" alt="RaXpA" width="200" height="auto" class="float-left mr-3">
            {# <h4 class="lead">RBMCert</h4> #}
            <footer class="blockquote-footer mt-2">Desarrollado por: <cite title="Source Title">Ing. Rafael Enrique Báez Guevara</cite></footer>
        </div>
        <div class="col-md-4">
            <h4 class="lead"><a href="#">Gestor de facturas</a></h4>
            <p>"RF" es un utilitario para registrar la facturación. Que sirve de ejemplo para generar una tarea robótica que escriba datos hacia
                una "legacy web app"
            </p>
        </div>
        <div class="col-md-4">
            <h4 class="lead">Potenciado Por:</h4>
            <div>
            <a href="https://symfony.com"><img src="{{ asset('images/symfony_logo.svg') }}" alt="" width="50" height="auto" class="float-left mr-3"></a>
            <a href="https://getbootstrap.com/"><img src="{{ asset('images/Boostrap_logo.svg') }}" alt="" width="50" height="auto" class="float-left mr-3"></a>
            <a href="https://fontawesome.com"><i class="fab fa-font-awesome fa-3x float-left align-middle mr-3"></i></a>
            {# <a href="https://echarts.apache.org"><img src="{{ asset('images/echarts_logo.png') }}" alt="" width="50" height="auto" class="float-left mr-3"></a> #}
            </div>
        </div>
    </div>
</footer>
<!--    Fin del Footer-->